In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
%matplotlib notebook

In [2]:
!pwd

/Users/Princess/flatiron/DS-Project_01

In [3]:
df = pd.read_csv('diabetic_readmission_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
df.isna().any().any() #to find any nan values

False

In [6]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [7]:
column_names = df.columns
print(len(column_names))

50

In [8]:
df['weight'].value_counts() #how many unique values in weight column

?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [9]:
df['age'].unique()

array(['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)',
       '[60-70)', '[70-80)', '[80-90)', '[90-100)'], dtype=object)

In [10]:
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [11]:
for col in df.columns: #loop though the columns to check for unit values in each column
    print(col, df[col].value_counts())

encounter_id 96210942     1
89943846     1
384306986    1
94650156     1
83156784     1
2674482      1
281345844    1
193616274    1
355508024    1
165973818    1
125278944    1
420873188    1
157241154    1
161161032    1
174855390    1
134950734    1
154128210    1
96993108     1
122064144    1
297770840    1
382612616    1
165134172    1
108244830    1
210578766    1
443842340    1
151469730    1
289146210    1
154590960    1
145948404    1
176328594    1
            ..
249722520    1
111830682    1
126506652    1
80193186     1
186881700    1
147162726    1
263120844    1
249665124    1
151295556    1
113303472    1
73909806     1
422050106    1
13655088     1
168523320    1
296140568    1
98784828     1
157333056    1
280536642    1
130655706    1
190162530    1
107017800    1
103828530    1
176744010    1
172279374    1
297285200    1
74454612     1
208073976    1
166229592    1
38340702     1
77856768     1
Name: encounter_id, Length: 101766, dtype: int64
patient_nbr 88785891     40
43140906     28
23199021     23
1660293      23
88227540     23
23643405     22
84428613     22
92709351     21
23398488     20
90609804     20
88789707     20
37096866     20
89472402     20
29903877     20
88681950     19
88479036     19
97391007     19
24011577     18
3481272      18
91160280     18
84348792     18
3401055      18
91751121     18
106757478    17
90489195     17
41699412     17
84676248     16
384939       16
90164655     16
41617368     16
             ..
141459593     1
54207855      1
71579169      1
23406147      1
6348348       1
137952824     1
23234103      1
78943797      1
43683723      1
85241394      1
18267696      1
45161577      1
32417442      1
61105707      1
106231896     1
3397149       1
39734766      1
23850522      1
42977016      1
113160366     1
8105490       1
16600590      1
92990970      1
783198        1
105551478     1
71081460      1
30060018      1
67443444      1
141344240     1
93251151      1
Name: patient_nbr, Length: 71518, dtype: int64
race Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
gender Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64
age [70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64
weight ?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64
admission_type_id 1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64
discharge_disposition_id 1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64
admission_source_id 7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64
time_in_hospital 3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: time_in_hospital, dtype: int64
payer_code ?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64
medical_specialty ?                                    49949
InternalMedicine                     14635
Emergency/Trauma                      7565
Family/GeneralPractice                7440
Cardiology                            5352
Surgery-General                       3099
Nephrology                            1613
Orthopedics                           1400
Orthopedics-Reconstructive            1233
Radiologist                           1140
Pulmonology                            871
Psychiatry                             854
Urology                                685
ObstetricsandGynecology                671
Surgery-Cardiovascular/Thoracic        652
Gastroenterology                       564
Surgery-Vascular                       533
Surgery-Neuro                          468
PhysicalMedicineandRehabilitation      391
Oncology                               348
Pediatrics                             254
Hematology/Oncology                    207
Neurology                              203
Pediatrics-Endocrinology               159
Otolaryngology                         125
Endocrinology                          120
Surgery-Thoracic                       109
Psychology                             101
Podiatry                               100
Surgery-Cardiovascular                  98
                                     ...
Anesthesiology-Pediatric                19
Obstetrics                              19
Rheumatology                            17
Pathology                               17
Anesthesiology                          12
OutreachServices                        12
PhysicianNotFound                       11
Surgery-Maxillofacial                   11
Surgery-Colon&Rectal                    11
Pediatrics-Neurology                    10
Endocrinology-Metabolism                 8
Surgery-Pediatric                        8
AllergyandImmunology                     7
Cardiology-Pediatric                     7
Psychiatry-Child/Adolescent              7
DCPTEAM                                  6
Dentistry                                4
Pediatrics-Hematology-Oncology           4
Pediatrics-AllergyandImmunology          3
Pediatrics-EmergencyMedicine             3
Resident                                 2
Speech                                   1
Pediatrics-InfectiousDiseases            1
Surgery-PlasticwithinHeadandNeck         1
SportsMedicine                           1
Proctology                               1
Neurophysiology                          1
Dermatology                              1
Psychiatry-Addictive                     1
Perinatology                             1
Name: medical_specialty, Length: 73, dtype: int64
num_lab_procedures 1      3208
43     2804
44     2496
45     2376
38     2213
40     2201
46     2189
41     2117
42     2113
47     2106
39     2101
37     2079
49     2066
48     2058
36     1962
51     1925
50     1924
35     1907
54     1888
56     1839
52     1838
55     1836
53     1802
57     1747
58     1708
34     1677
61     1638
59     1624
60     1610
63     1450
       ...
89       73
90       65
91       61
93       56
92       48
95       46
94       45
97       31
96       28
98       26
101      13
100      13
99        9
102       8
103       6
105       6
106       5
109       4
108       4
111       3
113       3
104       3
114       2
126       1
132       1
107       1
118       1
129       1
120       1
121       1
Name: num_lab_procedures, Length: 118, dtype: int64
num_procedures 0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Name: num_procedures, dtype: int64
num_medications 13    6086
12    6004
11    5795
15    5792
14    5707
16    5430
10    5346
17    4919
9     4913
18    4523
8     4353
19    4078
20    3691
7     3484
21    3230
22    2868
6     2699
23    2426
24    2109
5     2017
25    1888
26    1608
27    1432
4     1417
28    1233
29    1000
3      900
30     849
31     712
32     623
      ...
45      88
47      74
49      61
48      60
50      55
52      54
51      43
53      40
56      37
54      33
55      32
57      26
58      25
60      23
59      20
62      15
63      14
61      14
65      12
64       8
68       7
67       7
69       5
66       5
72       3
70       2
75       2
74       1
79       1
81       1
Name: num_medications, Length: 75, dtype: int64
number_outpatient 0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
22        5
18        5
19        3
24        3
27        3
23        2
25        2
26        2
29        2
33        2
35        2
36        2
40        1
28        1
34        1
37        1
38        1
39        1
42        1
Name: number_outpatient, dtype: int64
number_emergency 0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
19        4
20        4
14        3
15        3
21        2
25        2
76        1
54        1
24        1
28        1
29        1
37        1
42        1
46        1
64        1
63        1
Name: number_emergency, dtype: int64
number_inpatient 0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
18        1
21        1
Name: number_inpatient, dtype: int64
diag_1 428       6862
414       6581
786       4016
410       3614
486       3508
427       2766
491       2275
715       2151
682       2042
434       2028
780       2019
996       1967
276       1889
38        1688
250.8     1680
599       1595
584       1520
V57       1207
250.6     1183
518       1115
820       1082
577       1057
493       1056
435       1016
562        989
574        965
296        896
560        876
250.7      871
250.13     851
          ...
837          1
250.51       1
605          1
955          1
698          1
375          1
373          1
V43          1
791          1
649          1
389          1
160          1
391          1
372          1
919          1
994          1
216          1
839          1
838          1
363          1
V60          1
543          1
V07          1
318          1
143          1
903          1
834          1
939          1
V67          1
471          1
Name: diag_1, Length: 717, dtype: int64
diag_2 276       6752
428       6662
250       6071
427       5036
401       3736
496       3305
599       3288
403       2823
414       2650
411       2566
250.02    2074
707       1999
585       1871
584       1649
491       1545
250.01    1523
285       1520
780       1491
425       1434
682       1433
486       1379
518       1355
424       1071
413       1042
250.6      895
493        881
305        702
786        644
280        606
998        571
          ...
E868         1
250.31       1
674          1
5            1
E915         1
268          1
164          1
615          1
703          1
302          1
347          1
734          1
990          1
523          1
E890         1
173          1
846          1
E817         1
271          1
968          1
977          1
947          1
E938         1
V69          1
88           1
953          1
E850         1
748          1
893          1
123          1
Name: diag_2, Length: 749, dtype: int64
diag_3 250       11555
401        8289
276        5175
428        4577
427        3955
414        3664
496        2605
403        2357
585        1992
272        1969
599        1941
?          1423
V45        1389
250.02     1369
707        1360
780        1334
285        1200
425        1136
250.6      1080
424        1063
584         963
305         924
250.01      915
682         887
518         854
41          727
493         694
278         680
530         625
786         584
          ...
E915          1
217           1
754           1
111           1
E900          1
E815          1
E828          1
250.31        1
123           1
195           1
744           1
146           1
E864          1
164           1
834           1
E865          1
E861          1
879           1
158           1
930           1
952           1
E966          1
893           1
750           1
853           1
980           1
992           1
387           1
603           1
697           1
Name: diag_3, Length: 790, dtype: int64
number_diagnoses 9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64
max_glu_serum None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64

A1Cresult None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
metformin No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
repaglinide No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64
nateglinide No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64
chlorpropamide No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64
glimepiride No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
acetohexamide No        101765
Steady         1
Name: acetohexamide, dtype: int64
glipizide No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64
glyburide No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64
tolbutamide No        101743
Steady        23
Name: tolbutamide, dtype: int64
pioglitazone No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64
rosiglitazone No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64
acarbose No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64
miglitol No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64
troglitazone No        101763
Steady         3
Name: troglitazone, dtype: int64
tolazamide No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64
examide No    101766
Name: examide, dtype: int64
citoglipton No    101766
Name: citoglipton, dtype: int64
insulin No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64
glyburide-metformin No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64
glipizide-metformin No        101753
Steady        13
Name: glipizide-metformin, dtype: int64
glimepiride-pioglitazone No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64
metformin-rosiglitazone No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64
metformin-pioglitazone No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64
change No    54755
Ch    47011
Name: change, dtype: int64
diabetesMed Yes    78363
No     23403
Name: diabetesMed, dtype: int64
readmitted NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [12]:
df.drop(['weight', 'payer_code', 'patient_nbr', 'medical_specialty'], axis = 1, inplace = True)
df.head(10)
#Weight drop because of insufficient data
#payer_code drop because of irrelevance to outcome & too much missing data
#patient_nbr drop - Irrelevant
#Although medical specialty is 47% we decided to keep it because it is relevant to the data outcome.

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,Caucasian,Male,[60-70),3,1,2,4,70,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,Caucasian,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,Caucasian,Female,[80-90),2,1,4,13,68,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,Caucasian,Female,[90-100),3,3,4,12,33,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [13]:
for i in df['race'].unique():
    print(len(i)/len(df['race']))
#In order to replace missing value(?) we calculated the P-value of each race

8.843818171098402e-05
0.0001473969695183067
9.82646463455378e-06
4.9132323172768904e-05
4.9132323172768904e-05
7.861171707643024e-05

In [14]:
df.replace(to_replace = ['?'],
          value = 'Caucasian', inplace = True)

In [15]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [16]:
df.head(25)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,Caucasian,Male,[60-70),3,1,2,4,70,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,Caucasian,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,Caucasian,Female,[80-90),2,1,4,13,68,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,Caucasian,Female,[90-100),3,3,4,12,33,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,AfricanAmerican,Female,[40-50),1,1,7,9,47,2,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,AfricanAmerican,Male,[60-70),2,1,4,7,62,0,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,Caucasian,Female,[40-50),1,3,7,7,60,0,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,Caucasian,Male,[80-90),1,6,7,10,55,1,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,AfricanAmerican,Female,[60-70),3,1,2,1,49,5,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,AfricanAmerican,Male,[60-70),1,3,7,12,75,5,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,AfricanAmerican,Male,[50-60),1,1,7,4,45,4,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,Caucasian,Female,[50-60),1,1,7,3,29,0,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,AfricanAmerican,Male,[70-80),1,1,7,5,35,5,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,Caucasian,Male,[70-80),3,6,2,6,42,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
20,150006,Caucasian,Female,[50-60),2,1,4,2,66,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
21,150048,Caucasian,Male,[60-70),2,1,4,2,36,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
22,182796,AfricanAmerican,Female,[70-80),2,1,4,2,47,0,...,No,No,No,No,No,No,No,No,No,NO
23,183930,Caucasian,Female,[80-90),2,6,1,11,42,2,...,No,No,No,No,No,No,No,No,No,>30
24,216156,AfricanAmerican,Female,[70-80),3,1,2,3,19,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [17]:
df['readmitted?'] = df['readmitted'].map(lambda x: 'YES' if x=='>30' else ('YES' if x=='<30' else 'NO'))
df.head(20)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,readmitted?
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,NO,NO
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,Up,No,No,No,No,No,Ch,Yes,>30,YES
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,Yes,NO,NO
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,Up,No,No,No,No,No,Ch,Yes,NO,NO
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,Steady,No,No,No,No,No,Ch,Yes,NO,NO
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,Steady,No,No,No,No,No,No,Yes,>30,YES
6,55842,Caucasian,Male,[60-70),3,1,2,4,70,1,...,Steady,No,No,No,No,No,Ch,Yes,NO,NO
7,63768,Caucasian,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,Yes,>30,YES
8,12522,Caucasian,Female,[80-90),2,1,4,13,68,2,...,Steady,No,No,No,No,No,Ch,Yes,NO,NO
9,15738,Caucasian,Female,[90-100),3,3,4,12,33,3,...,Steady,No,No,No,No,No,Ch,Yes,NO,NO
10,28236,AfricanAmerican,Female,[40-50),1,1,7,9,47,2,...,Steady,No,No,No,No,No,No,Yes,>30,YES
11,36900,AfricanAmerican,Male,[60-70),2,1,4,7,62,0,...,Steady,No,No,No,No,No,Ch,Yes,<30,YES
12,40926,Caucasian,Female,[40-50),1,3,7,7,60,0,...,Down,No,No,No,No,No,Ch,Yes,<30,YES
13,42570,Caucasian,Male,[80-90),1,6,7,10,55,1,...,Steady,No,No,No,No,No,No,Yes,NO,NO
14,62256,AfricanAmerican,Female,[60-70),3,1,2,1,49,5,...,Steady,No,No,No,No,No,No,Yes,>30,YES
15,73578,AfricanAmerican,Male,[60-70),1,3,7,12,75,5,...,Up,No,No,No,No,No,Ch,Yes,NO,NO
16,77076,AfricanAmerican,Male,[50-60),1,1,7,4,45,4,...,Steady,No,No,No,No,No,Ch,Yes,<30,YES
17,84222,Caucasian,Female,[50-60),1,1,7,3,29,0,...,No,No,No,No,No,No,No,Yes,NO,NO
18,89682,AfricanAmerican,Male,[70-80),1,1,7,5,35,5,...,Steady,No,No,No,No,No,No,Yes,>30,YES
19,148530,Caucasian,Male,[70-80),3,6,2,6,42,2,...,Steady,No,No,No,No,No,Ch,Yes,NO,NO

In [18]:
df.groupby(['race', 'readmitted?'])['readmitted'].count()

race             readmitted?
AfricanAmerican  NO             10421
                 YES             8789
Asian            NO               415
                 YES              226
Caucasian        NO             41930
                 YES            36442
Hispanic         NO              1183
                 YES              854
Other            NO               915
                 YES              591
Name: readmitted, dtype: int64

In [19]:
df.groupby(['age','readmitted?']).count()

                      encounter_id   race  gender  admission_type_id  \
age      readmitted?
[0-10)   NO                    132    132     132                132
         YES                    29     29      29                 29
[10-20)  NO                    427    427     427                427
         YES                   264    264     264                264
[20-30)  NO                    911    911     911                911
         YES                   746    746     746                746
[30-40)  NO                   2164   2164    2164               2164
         YES                  1611   1611    1611               1611
[40-50)  NO                   5380   5380    5380               5380
         YES                  4305   4305    4305               4305
[50-60)  NO                   9671   9671    9671               9671
         YES                  7585   7585    7585               7585
[60-70)  NO                  12084  12084   12084              12084
         YES                 10399  10399   10399              10399
[70-80)  NO                  13524  13524   13524              13524
         YES                 12544  12544   12544              12544
[80-90)  NO                   8896   8896    8896               8896
         YES                  8301   8301    8301               8301
[90-100) NO                   1675   1675    1675               1675
         YES                  1118   1118    1118               1118

                      discharge_disposition_id  admission_source_id  \
age      readmitted?
[0-10)   NO                                132                  132
         YES                                29                   29
[10-20)  NO                                427                  427
         YES                               264                  264
[20-30)  NO                                911                  911
         YES                               746                  746
[30-40)  NO                               2164                 2164
         YES                              1611                 1611
[40-50)  NO                               5380                 5380
         YES                              4305                 4305
[50-60)  NO                               9671                 9671
         YES                              7585                 7585
[60-70)  NO                              12084                12084
         YES                             10399                10399
[70-80)  NO                              13524                13524
         YES                             12544                12544
[80-90)  NO                               8896                 8896
         YES                              8301                 8301
[90-100) NO                               1675                 1675
         YES                              1118                 1118

                      time_in_hospital  num_lab_procedures  num_procedures  \
age      readmitted?
[0-10)   NO                        132                 132             132
         YES                        29                  29              29
[10-20)  NO                        427                 427             427
         YES                       264                 264             264
[20-30)  NO                        911                 911             911
         YES                       746                 746             746
[30-40)  NO                       2164                2164            2164
         YES                      1611                1611            1611
[40-50)  NO                       5380                5380            5380
         YES                      4305                4305            4305
[50-60)  NO                       9671                9671            9671
         YES                      7585                7585            7585
[60-70)  NO                      12084               12084           12084
         YES                     10399               10399           10399
[70-80)  NO                      13524               13524           13524
         YES                     12544               12544           12544
[80-90)  NO                       8896                8896            8896
         YES                      8301                8301            8301
[90-100) NO                       1675                1675            1675
         YES                      1118                1118            1118

                      num_medications     ...      citoglipton  insulin  \
age      readmitted?                      ...
[0-10)   NO                       132     ...              132      132
         YES                       29     ...               29       29
[10-20)  NO                       427     ...              427      427
         YES                      264     ...              264      264
[20-30)  NO                       911     ...              911      911
         YES                      746     ...              746      746
[30-40)  NO                      2164     ...             2164     2164
         YES                     1611     ...             1611     1611
[40-50)  NO                      5380     ...             5380     5380
         YES                     4305     ...             4305     4305
[50-60)  NO                      9671     ...             9671     9671
         YES                     7585     ...             7585     7585
[60-70)  NO                     12084     ...            12084    12084
         YES                    10399     ...            10399    10399
[70-80)  NO                     13524     ...            13524    13524
         YES                    12544     ...            12544    12544
[80-90)  NO                      8896     ...             8896     8896
         YES                     8301     ...             8301     8301
[90-100) NO                      1675     ...             1675     1675
         YES                     1118     ...             1118     1118

                      glyburide-metformin  glipizide-metformin  \
age      readmitted?
[0-10)   NO                           132                  132
         YES                           29                   29
[10-20)  NO                           427                  427
         YES                          264                  264
[20-30)  NO                           911                  911
         YES                          746                  746
[30-40)  NO                          2164                 2164
         YES                         1611                 1611
[40-50)  NO                          5380                 5380
         YES                         4305                 4305
[50-60)  NO                          9671                 9671
         YES                         7585                 7585
[60-70)  NO                         12084                12084
         YES                        10399                10399
[70-80)  NO                         13524                13524
         YES                        12544                12544
[80-90)  NO                          8896                 8896
         YES                         8301                 8301
[90-100) NO                          1675                 1675
         YES                         1118                 1118

                      glimepiride-pioglitazone  metformin-rosiglitazone  \
age      readmitted?
[0-10)   NO                                132                      132
         YES                                29                       29
[10-20)  NO                                427                      427
         YES                               264                      264
[20-30)  NO                                911                      911
         YES                               746                      746
[30-40)  NO                               2164                     2164
         YES                              1611                     1611
[40-50)  NO                               5380                     5380
         YES                              4305                     4305
[50-60)  NO                               9671                     9671
         YES                              7585                     7585
[60-70)  NO                              12084                    12084
         YES                             10399                    10399
[70-80)  NO                              13524                    13524
         YES                             12544                    12544
[80-90)  NO                               8896                     8896
         YES                              8301                     8301
[90-100) NO                               1675                     1675
         YES                              1118                     1118

                      metformin-pioglitazone  change  diabetesMed  readmitted
age      readmitted?
[0-10)   NO                              132     132          132         132
         YES                              29      29           29          29
[10-20)  NO                              427     427          427         427
         YES                             264     264          264         264
[20-30)  NO                              911     911          911         911
         YES                             746     746          746         746
[30-40)  NO                             2164    2164         2164        2164
         YES                            1611    1611         1611        1611
[40-50)  NO                             5380    5380         5380        5380
         YES                            4305    4305         4305        4305
[50-60)  NO                             9671    9671         9671        9671
         YES                            7585    7585         7585        7585
[60-70)  NO                            12084   12084        12084       12084
         YES                           10399   10399        10399       10399
[70-80)  NO                            13524   13524        13524       13524
         YES                           12544   12544        12544       12544
[80-90)  NO                             8896    8896         8896        8896
         YES                            8301    8301         8301        8301
[90-100) NO                             1675    1675         1675        1675
         YES                            1118    1118         1118        1118

[20 rows x 45 columns]

In [20]:
df['age'].unique()

array(['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)',
       '[60-70)', '[70-80)', '[80-90)', '[90-100)'], dtype=object)